/*
 * Copyright (c) 2020 MyKeeper
 * -----
 * Created Date: Thursday September 3rd 2020
 */

.Logout .imageLogout{
    width: 50px;
    height: 50px;
}

.imageLogout
{
  width: 150px;
  padding: 10px;
}
 .imageLogout:hover
 {
   -moz-box-shadow: 0 0 10px #ccc;
   -webkit-box-shadow: 0 0 10px #ccc;
   box-shadow: 0 0 10px #ccc;
 }
