/*
 * Copyright (c) 2020 MyKeeper
 * -----
 * Created Date: Thursday September 3rd 2020
 */

 .box
 {
   width: 150px;
   border: 1px solid #000000;
   padding: 10px;
 }

 /*
  .box:hover
  {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }*/

  .menuClient{
    margin-top:100px;
  }


  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }